strong,ghhgh {color: red}
div {
    border: 1px solid red;
    width: 100px;
    height: ;
}
strong {
    color: aquamarine;
    font-style: italic;
    font-size: 22px;
}



img {border: 5px dotted aquamarine;
    width: 605px;
    height: 300px}

    div 
